<mat-toolbar color="warn">
  <mat-toolbar-row class="first">
    <span>Our services</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
    <span class="second">Should you have any concerns or would you want to give us feedback, 
      please do not hesitate to contact our customerservice team .</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon"></mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row class ="third">
    <span>Contact us </span><i class="material-icons">call</i>
    <span>Privacy </span>
    <span>Terms </span><i class="material-icons">whatshot</i>
    <span>Security</span>
    <span>map</span><i class="material-icons">add_location</i>

    <span class="example-spacer"></span>
    
    <i class="material-icons">verified_user</i>
   
    
  </mat-toolbar-row>
</mat-toolbar>

  