<div class="container-example">
<mat-form-field>
  <input  matInput placeholder ="First Name" matTextareaAutosize matAutosizeMinRows="3" 
  matAutosizeMaxRows="5"  required>
  </mat-form-field>
<mat-form-field>
  <input matInput placeholder =" Last Name" matTextareaAutosize matAutosizeMinRows="3" 
  matAutosizeMaxRows="5" >
</mat-form-field>
<mat-form-field>
    <input matInput placeholder ="Mobile no" matTextareaAutosize matAutosizeMinRows="3" 
    matAutosizeMaxRows="5" required>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder =" Password" matTextareaAutosize matAutosizeMinRows="3" 
      matAutosizeMaxRows="5"  required>
    </mat-form-field>
    <mat-form-field>
    <input matInput placeholder =" Retype-Password"matTextareaAutosize matAutosizeMinRows="3" 
    matAutosizeMaxRows="5"  required>
  </mat-form-field>
</div>
<div class="button">
  <button mat-raised-button color="primary">SUBMIT</button>

</div>
